
node_modules/@angular-devkit/architect/node_modules/rxjs/src/operator/windowWhen.ts
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

e2e/
node_modules/
platforms/
plugins/
resources/
www/
config.xml
angular.json
ionic.config.json
package.json
package-lock.json
tsconfig.json
tslint.json
